<h1>{{ title }}</h1>

<h2>Bootstrap starter template</h2>

<p class="lead">
    Use this document as a way to quickly start any new project.<br> 
    All you get is this text and a mostly barebones HTML document.
</p>
